/* body {
  overflow-y:hidden;
} */

.cb_button2 {
  /* overflow: hidden; */
  margin: 15px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.cb_button2 > label > span {
  text-align: center;
  font-size: 20px;
  display: block;
  padding: 10px 0px 3px 0px;
  cursor: pointer;
  color: #73b2ff;
  border: 2px solid #73b2ff;
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  width: 180px;
  /* float: left; */
}

.cb_button2 input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.cb_button2 input:checked + span {
  background-color: #2196f3;
  color: #fff;
  padding: 6px 0px 6px 0px;
  border-color: #2196f3;
}

.cb_button2 input:checked:hover + span {
  background-color: #ff5c97;
  color: #fff;
  transform: translateY(-7px);
}

.cb_button2 input:hover + span,
.cb_button2 {
  color: #ff5c97;
  border-color: #ff5c97;
}
