<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="static/assets/icon.ico" type="image/x-icon" />
    <!-- StyleSheets-->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/button.css" />
    <!-- StyleSheets end -->

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Google fonts ends here -->

    <title>Survey</title>
</head>

<body>
    <!-- Main Container -->
    <div class="container" id="intro">
        <div class="card mb-4 bg-light shadow-lg  mb-5 bg-white rounded custom">
            <p>
            Sorry for your inconvenience [We are still in beta and trying to solve these issues as soon as possible]
            <br>
            Your data was not submitted because of one of the following reasons-
            <br>
            1. Our Server was overloaded because of too many request.
            <br>
            2. The data filter could not understand some part of data that you've sent.
            <br>
            <br>
            We will appreciate if you tell about this error to the source you got this survey form.
            </p>
        </div>
    </div>
</body>
</html>