<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="static/assets/icon.ico" type="image/x-icon"/>
    <!-- StyleSheets-->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/button.css" />
    <!-- StyleSheets end -->

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Google fonts ends here -->

    <title>Survey</title>
</head>

<body class="no-scroll">
    <!-- Main Container -->
    <div class="container" id="intro">

        <div class="vh-max">
            <!-- HeroBox -->
            <div class="jumbotron mt-4 custom px-5">
                <div class="p-60">
                    <span class="card-headings-custom">Are you a foodie?</span>
                    <p class="lead">
                        Our definition of foodies as a breed refers to people who lie between situations of being fed up
                        of
                        their mothers asking them: "आज खाने में क्या बनाऊं?" and between searching new things to try
                        around
                        them
                        wherever they go!
                        <br>
                        <br>
                        If you're in the club too, take this survey to help us help you!
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="./form" role="button">
                            START
                        </a>
                    </p>
                </div>
            </div>
            <!-- HeroBox Ends Here -->
        </div>
    </div>
    <!-- https://getbootstrap.com/docs/4.4/components/pagination/ -->
    <!-- Main Container ends here -->

    <!-- javaScript dependencies -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- javaScript dependencies end here -->
</body>

</html>