<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">ScanF</a>

    <!-- burger menu for small device -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- burger menu ends -->

    <!-- navbar items -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Why?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Personal Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">What do you think?</a>
            </li>
        </ul>
    </div>
    <!-- navbar items ends Here -->
</nav>
<!-- NavBar end here -->

CardForBeverages
<div class="vh-max overflow-auto hide-sb">
    <div class="card mb-4 bg-light shadow-lg  mb-5 bg-white rounded custom " id="beverage">
        <p class="lead">
            Please <span class="font-weight-bold">SELECT</span> from the options given below under each group for the entries that you 'Avoid or
            Never Eat' while dining outside?
        </p>
        <span class="card-headings-custom">Beverages</span>
        <div class="d-flex align-content-start flex-wrap">
            {% for beverage in beverages %}
            <div class="cb_button2">
                <label>
                    <input type="checkbox" name="beverages" value="{{beverage}}" />
                    <span>{{beverage}}</span>
                </label>
            </div>
            {% endfor %}
        </div>
        <p class="lead p-3">
            <a class="btn btn-primary btn-lg" href="#snacks" role="button">
                NEXT
            </a>
        </p>
    </div>
</div>
<!-- CardForBeverages-Ends -->

<!-- CardForSnacks-->
<div class="vh-max overflow-auto hide-sb">
    <div class="card mb-4 bg-light shadow-lg p-3 mb-5 bg-white rounded" id="snacks">
        <p class="lead">
            Please <span class="font-weight-bold">SELECT</span> from the options given below under each group for the entries that you 'Avoid or
            Never Eat' while dining outside?
        </p>
        <h3 class="display-4 mb-0">Snacks</h3>
        <div class="d-flex align-content-start flex-wrap">
            {% for snack in snacks %}
            <div class="cb_button2">
                <label>
                    <input type="checkbox" name="snacks" value="{{snack}}" />
                    <span>{{snack}}</span>
                </label>
            </div>
            {% endfor %}
        </div>
        <p class="lead p-3">
            <a class="btn btn-primary btn-lg" href="#main_course" role="button">
                NEXT
            </a>
        </p>
    </div>
</div>
<!-- CardForSnacks-Ends -->


<!-- CardForMainCourse -->
<div class="vh-max overflow-auto hide-sb">
    <div class="card mb-4 bg-light shadow-lg custom  mb-5 bg-white rounded" id="main_course">
        <p class="lead">
            Please <span class="font-weight-bold">SELECT</span> from the options given below under each group for the entries that you 'Avoid or
            Never Eat' while dining outside?
        </p>
        <span class="card-headings-custom">Main Course</span>
        <div class="d-flex align-content-start flex-wrap">
            {% for main_course in main_courses %}
            <div class="cb_button2">
                <label>
                    <input type="checkbox" name="main_courses" value="{{main_course}}" />
                    <span>{{main_course}}</span>
                </label>
            </div>
            {% endfor %}
        </div>
        <p class="lead p-3">
            <a class="btn btn-primary btn-lg" href="#others" role="button">
                NEXT
            </a>
        </p>
    </div>
</div>
<!-- CardForMainCourse-Ends-->
<!-- CardForOthers-->
<div class="vh-max overflow-auto hide-sb">
    <div class="card mb-4 bg-light shadow-lg custom  mb-5 bg-white rounded" id="others">
        <p class="lead">
            Please <span class="font-weight-bold">SELECT</span> from the options given below under each group for the entries that you 'Avoid or
            Never Eat' while dining outside?
        </p>
        <span class="card-headings-custom">Others</span>
        <div class="d-flex align-content-start flex-wrap">
            {% for other in others %}
            <div class="cb_button2">
                <label>
                    <input type="checkbox" name="others" value="{{other}}" />
                    <span>{{other}}</span>
                </label>
            </div>
            {% endfor %}
        </div>