<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- StyleSheets-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/button.css" />
    <!-- StyleSheets end -->

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- Google fonts ends here -->

    <title>Food Survey</title>
</head>

<body class="no-scroll">
    <!-- Main Container -->
    <div class="container">
        <form action="/page2" method="POST">
            <!-- CardForBeverages -->
            <div class="vh-max overflow-auto hide-sb pt-4" id="beverages">
                <div class="card mb-4 bg-light shadow-lg  mb-5 bg-white rounded custom ">
                    <div class="mb-2">
                        <p class="h3 ssp">
                            <span class="font-weight-bold">Q2.</span>
                            Please <span class="font-weight-bold">SELECT</span> from the remaining entries under each
                            group
                            for the entries that you <span class="font-weight-bold">'Dislike or Prefer Less'</span>
                            while
                            dining outside?
                        </p>
                    </div>
                    <span class="card-headings-custom">Beverages</span>
                    <div class="d-flex align-content-start flex-wrap mt-2">
                        {% for beverage in beverages %}
                        <div class="cb_button2">
                            <label>
                                <input type="checkbox" name="beverages" value="{{beverage}}" />
                                <span>{{beverage}}</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <p class="lead">
                    <label>
                        <a class="btn btn-primary btn-lg" href="/page1">Back</a>
                    </label>

                    <a class="btn btn-primary btn-lg" href="#snacks" role="button">
                        Next
                    </a>
                </p>
            </div>
            <!-- CardForBeverages-Ends -->

            <!-- CardForSnacks-->
            <div class="vh-max overflow-auto hide-sb pt-4" id="snacks">
                <div class="card mb-4 bg-light shadow-lg p-3 mb-5 bg-white rounded">
                     <div class="mb-2">
                        <p class="h3 ssp">
                            <span class="font-weight-bold">Q2.</span>
                            Please <span class="font-weight-bold">SELECT</span> from the remaining entries under each
                            group
                            for the entries that you <span class="font-weight-bold">'Dislike or Prefer Less'</span>
                            while
                            dining outside?
                        </p>
                    </div>
                    <h3 class="card-headings-custom">Snacks</h3>
                    <div class="d-flex align-content-start flex-wrap mt-2">
                        {% for snack in snacks %}
                        <div class="cb_button2">
                            <label>
                                <input type="checkbox" name="snacks" value="{{snack}}" />
                                <span>{{snack}}</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <p class="lead">
                    <label>
                        <a class="btn btn-primary btn-lg" href="#beverages">Back</a>
                    </label>

                    <a class="btn btn-primary btn-lg" href="#main_course" role="button">
                        Next
                    </a>
                </p>
            </div>
            <!-- CardForSnacks-Ends -->


            <!-- CardForMainCourse -->
            <div class="vh-max overflow-auto hide-sb pt-4" id="main_course">
                <div class="card mb-4 bg-light shadow-lg custom  mb-5 bg-white rounded">
                     <div class="mb-2">
                        <p class="h3 ssp">
                            <span class="font-weight-bold">Q2.</span>
                            Please <span class="font-weight-bold">SELECT</span> from the remaining entries under each
                            group
                            for the entries that you <span class="font-weight-bold">'Dislike or Prefer Less'</span>
                            while
                            dining outside?
                        </p>
                    </div>
                    <span class="card-headings-custom">Main Course</span>
                    <div class="d-flex align-content-start flex-wrap mt-2">
                        {% for main_course in main_courses %}
                        <div class="cb_button2">
                            <label>
                                <input type="checkbox" name="main_courses" value="{{main_course}}" />
                                <span>{{main_course}}</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <p class="lead">
                    <label>
                        <a class="btn btn-primary btn-lg" href="#snacks">Back</a>
                    </label>

                    <a class="btn btn-primary btn-lg" href="#others" role="button">
                        Next
                    </a>
                </p>
            </div>
            <!-- CardForMainCourse-Ends-->
            <!-- CardForOthers-->
            <div class="vh-max overflow-auto hide-sb pt-4" id="others">
                <div class="card mb-4 bg-light shadow-lg custom  mb-5 bg-white rounded">
                     <div class="mb-2">
                        <p class="h3 ssp">
                            <span class="font-weight-bold">Q2.</span>
                            Please <span class="font-weight-bold">SELECT</span> from the remaining entries under each
                            group
                            for the entries that you <span class="font-weight-bold">'Dislike or Prefer Less'</span>
                            while
                            dining outside?
                        </p>
                    </div>
                    <span class="card-headings-custom">Others</span>
                    <div class="d-flex align-content-start flex-wrap mt-2">
                        {% for other in others %}
                        <div class="cb_button2">
                            <label>
                                <input type="checkbox" name="others" value="{{other}}" />
                                <span>{{other}}</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>



                </div>
                <p class="lead">
                    <label>
                        <a class="btn btn-primary btn-lg" href="#main_course">Back</a>
                    </label>

                    <label>
                        <input class="btn btn-primary btn-lg" type="submit" value="Next Question" />
                    </label>
                </p>
            </div>
            <!-- CardForOthers Ends -->
        </form>
    </div>

    <!-- Main Container ends here -->

    <!-- javaScript dependencies -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- javaScript dependencies end here -->
</body>

</html>

<!-- https://getbootstrap.com/docs/4.4/components/pagination/ -->