<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="static/assets/icon.ico" type="image/x-icon"/>
    <!-- StyleSheets-->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/button.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- StyleSheets end -->

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Google fonts ends here -->

    <title>Survey</title>
</head>

<body>
    <!-- Main Container -->
    <div class="container" id="intro">
        <div class="form">
            <form action="/suggestion" method="POST">
                <div class="vh-max overflow-auto hide-sb pt-4" id="profile">
                    <!-- Profile Card -->
                    <div class="card mb-4 bg-light shadow-lg bg-white custom">
                        <div class="w3-light-grey w3-round">
                            <div class="w3-container w3-round w3-blue" style="width:80%" id="mybar">Suggestions</div>
                          </div>
                        <div class="card-body px-2">
                            <h1>About Us</h1>
                            <hr class="style2">
                            <p class="thin">
                                <span class=font-weight-bold>ScanF</span>, acts as a personal guide for
                                travellers to discover best food nearby while reducing their efforts in doing so,
                                eliminating the feel of adjusting by 100% when it comes to food, so that with us they
                                focus more on travel whenever they travel.
                            </p>
                        </div>
                    </div>
                    <div class="card mb-4 bg-light shadow-lg bg-white custom">
                        <div class="card-body p-2">
                            <h5>Please leave your comments/ suggestions/ ideas for us to improve/ act/ adapt here.</h5>
                            <hr class="style2">
                            <p class="thin">
                                Anything you wish to mention other than the survey, please go ahead. It can be a
                                question, anything we should improve, etc.
                            </p>
                            <textarea class="form-control" rows="3" name="suggestion"></textarea>
                        </div>
                    </div>
                    <!-- Profile card ends here -->
                    <div class="submit_button">
                        <label>
                            <a href="thank.html"><input class="btn btn-primary btn-lg" value="Submit" /></a>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- https://getbootstrap.com/docs/4.4/components/pagination/ -->
    <!-- Main Container ends here -->

    <!-- javaScript dependencies -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- javaScript dependencies end here -->
</body>

</html>
<script>
                               
    var elem = document.getElementById("mybar");   
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= 80) {
        clearInterval(id);
      } else {
        width++; 
        elem.style.width = width + '%'; 
      }
    }
  
  </script>