<!DOCTYPE html>
<html lang="en" class="no-js">

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="static/assets/icon.png" type="image/x-icon" />
    <!-- StyleSheets-->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/button.css" />
    <!-- StyleSheets end -->

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Google fonts ends here -->

    <title>Food Survey</title>
</head>

<body>
    <!-- Main Container -->
    <div class="container" id="intro">

        <!-- Profile Card -->
        <div class="card mb-4 bg-light shadow-lg bg-white rounded custom ">
            <div class="card-body p-4">
                <span class="card-headings-custom">Thanks For Your help</span>
                <hr class="style2">
                <p class="card-text text-secondary">It meant a lot for us.
                </p>
                <img src="../static/assets/thank.jpg" alt="ThankYou" class="img-fluid">
            </div>
        </div>

    </div>
    <!-- Main Container ends -->
</body>

</html>