<!DOCTYPE html>
<html lang="en" class="no-js">

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="static/assets/icon.ico" type="image/x-icon" />
    <!-- StyleSheets-->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/button.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- StyleSheets end -->

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Google fonts ends here -->

    <title>Survey</title>
</head>

<body>
    <!-- Main Container -->
    <div class="container" id="intro">
        <div class="alert alert-success mt-4" role="alert">
            Please check your email to collect your response sheet.
        </div>
        <!-- Profile Card -->
        <div class="card mb-4 bg-light shadow-lg bg-white rounded custom mt-4">
            <div class="w3-light-grey w3-round">
                <div class="w3-container w3-round w3-blue" style="width:100%" id="mybar">Done.</div>
              </div>
            <div class="card-body p-4">
                <hr class="style2">
                <p class="h3 cl-g text-center">Thank you for your response.</p>
                <hr class="style2">
                <!-- <img src="../static/assets/thank.jpg" alt="ThankYou" class="img-fluid"> -->
            </div>
        </div>

    </div>
    <!-- Main Container ends -->

    <!-- javaScript dependencies -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script>
        (function (global) {

            if (typeof (global) === "undefined") {
                throw new Error("window is undefined");
            }

            var _hash = "!";
            var noBackPlease = function () {
                global.location.href += "#";

                // making sure we have the fruit available for juice (^__^)
                global.setTimeout(function () {
                    global.location.href += "!";
                }, 50);
            };

            global.onhashchange = function () {
                if (global.location.hash !== _hash) {
                    global.location.hash = _hash;
                }
            };

            global.onload = function () {
                noBackPlease();

                // disables backspace on page except on input fields and textarea..
                document.body.onkeydown = function (e) {
                    var elm = e.target.nodeName.toLowerCase();
                    if (e.which === 8 && (elm !== 'input' && elm !== 'textarea')) {
                        e.preventDefault();
                    }
                    // stopping event bubbling up the DOM tree..
                    e.stopPropagation();
                };
            }

        })(window);
    </script>
    <!-- javaScript dependencies end here -->
</body>

</html>
<script>
                               
    var elem = document.getElementById("mybar");   
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
      } else {
        width++; 
        elem.style.width = width + '%'; 
      }
    }
  
  </script>